<div class="tudo">
<div classs ="cabeçalho"><h1>Média do Aluno</h1></div>
<div class ="nota"> <div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Insira a nota 1: </label>
  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Insira a nota 2: </label>
  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Insira a nota 3: </label>
  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
</div></div>
<div class ="resultado"><div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label"> Resultado:  </label>
  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
</div></div></div>


<router-outlet></router-outlet>
